<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/Bootstrap/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/script")
    @RenderSection("scripts", required: false)

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Help Desk</a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Início</a></li>
                    <li><a href="#about">Chamados</a></li>
                    <li><a href="#about">Gestão de Ativos</a></li>
                    <li><a href="#about">DashBoard</a></li>
                    <li><a href="#contact">Configurações</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Olá Fulano <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sair</a></li>
                            <li><a href="#">Mudar Senha</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <div class="jumbotron">
            <h1>Help Desk!</h1>
            <p>O melhor sistema de suporte a chamados para rede hospitalar.</p>
            <p><a class="btn btn-primary btn-large">Solicite um usuário &raquo;</a></p>
        </div>
        <div class="body-content">

            @RenderBody()

            <hr>

            <footer>
                <p>&copy; Company 2013</p>
            </footer>
        </div>

    </div>
    <!-- /container -->
</body>
</html>
